.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 5px;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background: #c1ddc7;
}

.conten-img {
  background-size: contain;  /* Hace que la imagen cubra completamente el contenedor */
  background-position: center;  /* Centra la imagen en el contenedor */
  background-repeat: no-repeat;  /* Evita que la imagen se repita */
  background-image: url('../../../assets/img/logo.png');
  width: 30%;
  height: 80px;
}

.conten-booton {
  background-color: #c1ddc7;
  width: 70%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.boton {
  padding: 10px 20px;
  background-color: #ffffffa9;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  background-color: #ffffff00;
  color: #000000;
  border: none;
  cursor: pointer;
  // border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
