.right-container2 {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .etiqueta {
    margin-bottom: 8px;
  }
  
  .campo {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .select-custom {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .file-input {
    margin-bottom: 16px;
  }
  
  .img-container {
    margin-bottom: 16px;
  }
  
  .imagen-preview {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .boton {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .guardar-button {
    background-color: #4caf50;
  }
  
  /* Puedes agregar estilos adicionales según sea necesario */
  