<div id="contenedor-superior"></div>

<div id="contenedor-inferior">
    <div class="contenedor-inferior-item">
        <button class="boton" (click)="obtenerDatosYRedirigir('Hoteleria')">Hoteles</button>
    </div>
    <div class="contenedor-inferior-item">
        <button class="boton" (click)="obtenerDatosYRedirigir('Restaurante')">Restaurantes</button>
    </div>
    <div class="contenedor-inferior-item">
        <button class="boton" (click)="obtenerDatosYRedirigir('Sitio turistico')">Turismo</button>
    </div>
</div>